<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>ServletConfigExmp</display-name>
  <servlet>
    <servlet-name>ConfigServlet</servlet-name>
    <servlet-class>
testConfigServlet.ConfigServlet  </servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>
  abffffc@gmail.com
  </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfigServlet</servlet-name>
    <url-pattern>
 /ConfigServlet
  </url-pattern>
  </servlet-mapping>
   
   <servlet>
    <servlet-name>TestContext</servlet-name>
    <servlet-class>
testContext.TestContext  </servlet-class>
    <init-param>
      <param-name>email</param-name>
      <param-value>
  abc@gmail.com
  </param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestContext</servlet-name>
    <url-pattern>
 /TestContext
  </url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>